.row {
  display: flex;
    }

main{
  overflow: auto;
  flex:65%;
  padding :10px;
  background-color: #ffffff;
    }

.imageicon{
  width:40%;
  height: 40%;
  display: flex;
        }

.posttitle{
  display: flex;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  font-size: 10px;


}
.postedby{
  display: block;
  font-size: 14px;
  text-align:right;
  font-style: italic;
  padding: 10px 10px;
  margin:0;
  font-weight:400;
  color:#707B7C;
}
.firstblock{
  height: 40%;
  width: 18%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    }
  }
